.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #222;
    color: #f0f0f0;
}

.admin-header button {
    padding: 0.5rem 1rem;
    background: #d33;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admin-header button:hover {
    background: #b22;
}

.availability-list {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.slot {
    /* display: flex; */
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
}

.slot span {
    margin-right: 0.5rem;
}

.slot button {
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0.4rem;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slot button:hover {
    background-color: lightgrey;
    color: black;
}

.booked-tag {
    background-color: #ff6666;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}