:root {
  --primary-color: black;
  /* dark soft black */
  --accent-color: #D4AF37;
  /* gold */
  --background-color: #EDE0D4;
  /* cream */
  --text-color: #FFFFFF;
  /* white */
  --subtle-text-color: #CCCCCC;
  /* light grey */
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-width: 320px;
  font-family: "Forum", serif;
  font-size: 18px;
  font-weight: 200;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
}

h1 {
  font-family: "Forum", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 4rem;
}

/* Header Styles */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--primary-color);
  box-shadow: 0 2px 8px rgba(215, 213, 213, 0.1);
  z-index: 100;
  color: var(--text-color);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}

.nav-links {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  padding: 1.2rem;
}

.nav-links a:hover {
  /* color: var(--primary-color); */
  background-color: #3e3e3e;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-icon {
  width: 30px;
  height: 30px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0rem 2rem;
}

.mobile-menu a {
  /* margin-bottom: 1rem; */
  text-decoration: none;
  color: var(--text-color);
  padding: 0.5rem;
}

.mobile-menu a:hover {
  /* color: var(--primary-color); */
  background-color: #3e3e3e;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}


/* Sections */
section {
  padding: 2rem 0rem 2rem;
  /* push down because of fixed header */
  min-height: 83vh;
}

/* Home */

.main-logo {
  margin-top: 10px;
  width: 25%;
  min-width: 250px;
}

.impact-image-container {
  height: 250px;
  justify-content: center;
  display: flex;
  overflow: visible;
}

.impact-image {
  object-fit: cover;
  width: 100%;
}

/* Examples */

.example-images {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.example-image-container {

  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 4px;
  padding: 10px;

  border-color: var(--primary-color);
  box-shadow: 0 2px 8px rgba(215, 213, 213, 0.1);
  display: flex;
}

.example-image {
  object-fit: cover;
  width: 300px;
}

/* Services */

.services-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: 0;
  padding-inline-start: 0;
}

.services-list>li {
  padding-block: 10px;
  list-style-type: none;
  margin: 0;
}

/* Contact */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact>p>a {
  color: var(--primary-color);
  font-weight: bold;
}

.contact-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 500px;
  width: 50%;
  min-width: 260px;
}

.contact-form>input {
  border-width: 1px;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.2rem;
  font-family: "Forum", serif;
  ;
}

.contact-form>textarea {
  height: 6em;
  font-family: "Forum", serif;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.2rem;
}

.contact-form>button {
  border-radius: 5px;
  height: 40px;
  font-size: 1.2rem;
  font-family: "Forum", serif;
  ;
}

.contact-form>button :hover {
  background-color: #3e3e3e;
}

.socials {
  display: flex;
  align-items: center;
  gap: 20px;
}