:root {
  --primary-color: black;
  /* dark soft black */
  --accent-color: #D4AF37;
  /* gold */
  --background-color: #EDE0D4;
  /* cream */
  --text-color: #FFFFFF;
  /* white */
  --subtle-text-color: #CCCCCC;
  /* light grey */
  font-size: 16px;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-width: 320px;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 200;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* background-color: var(--background-color); */
  color: var(--primary-color);
  background: linear-gradient(135deg, var(--background-color)0%, #f5f5f5 50%, var(--background-color)100%);
}

h1 {
  font-family: "Forum", serif;
  font-weight: 200;
  font-style: normal;
  font-size: clamp(2.5rem, 6vw, 4rem);
}

hr {
  padding: 0;
  margin: 0;
  border-top: 1px solid black;
}

/* Header Styles */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--primary-color);
  box-shadow: 0 2px 8px rgba(215, 213, 213, 0.1);
  z-index: 100;
  color: var(--text-color);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}

.nav-links {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  padding: 1.2rem;
}

.nav-links a:hover {
  /* color: var(--primary-color); */
  background-color: #3e3e3e;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 12px;
  padding: 0.75em 2em;
  transition: all 0.3s ease;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
  transform: scale(1.05);
  border-color: var(--primary-color);
  border-style: solid;
  border-width: 1px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  /* margin: 5px; */
}

.hamburger-icon {
  width: 30px;
  height: 30px;

}

.mobile-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0rem 2rem;
}

.mobile-menu a {
  /* margin-bottom: 1rem; */
  text-decoration: none;
  color: var(--text-color);
  padding: 0.5rem;
}

.mobile-menu a:hover {
  /* color: var(--primary-color); */
  background-color: #3e3e3e;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}


/* Sections */
section {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  /* background: linear-gradient(135deg, var(--background-color)0%, #f5f5f5 50%, var(--background-color)100%); */
  padding: 1rem 0rem 2rem;
  /* push down because of fixed header */
  min-height: 90vh;
}

.section-body {
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Home */

.main-logo {
  margin-top: 30px;
  width: 50vw;
  max-width: 250px;
}

.impact-image-container {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  height: 25vh;
  justify-content: center;
  display: flex;
  overflow: visible;
}

.impact-image {
  object-fit: cover;
  width: 100%;
}

/* Examples */

.example-images {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.example-image-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;

  padding: 10px;

  border-color: var(--primary-color);
  box-shadow: 0 2px 8px rgba(215, 213, 213, 0.1);
  display: flex;
  flex-direction: column;
}

.example-image {
  border-radius: 16px;
  object-fit: cover;
  width: 300px;
}

/* About */

.profile-image-container {
  justify-content: center;
  align-self: center;
  width: 80vmin;
  max-width: 500px;
  overflow: hidden;
  border-radius: 16px;
  clip-path: ellipse(40% 40%);
}

.profile-image {
  width: 80vmin;
  max-width: 500px;
  object-fit: contain;
}

/* Services */

.services-list {
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

.services-list>li {
  padding-block: 10px;
  list-style-type: none;
  margin: 0;
}

/* Contact */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact>p>a {
  color: var(--primary-color);
  font-weight: bold;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  width: clamp(260px, 50%, 500px);
}

.contact-form>input {
  width: 100%;
  border-width: 1px;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  ;
}

.contact-form>textarea {
  width: 100%;
  height: 6em;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.2rem;
}

.contact-form>button {
  width: 250px;
  height: 45px;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

.contact-form>button:hover {
  font-weight: 600;
}

.socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a,
.mobile-menu a,
button {
  transition: background-color 0.3s ease, color 0.3s ease;
}